/*botão de rolagem */
.scroll-to-top {
    position: fixed;
    font-size: 800;
    bottom: 20px;
    right: 20px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    display: none;
}

.scroll-to-top i {
    font-size: 25px; /*tamanho do ícone*/
    color: white;
}

#newbutton {
    position: fixed;
    top: 4px; /* Ajuste a margem superior de acordo com sua preferência */
    right: 10px;
    display: inline-block;
    background-color: #0c0e0c;
    border: none;
    border-radius: 10px;
    padding: 3px 8px; /* Ajuste o preenchimento conforme necessário */
    color: white;
    cursor: pointer;
}

#newbutton i {
    margin-right: 1px; /* Adicione margem à direita do ícone (ajuste conforme necessário) */
    color: #00ff06;
    font-size: 18px;
}

/*botao*/

.toggle-language {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px; /* Remova margens */
  }
  

.toggle-language .lingua{
    pointer-events: none;
    color: #ffffff;
    margin: -1px;
    text-align: center;
   
}

.toggle-language {
    display: inline-block;
  }
  
  .toggle-language input[type="checkbox"] {
    display: none;
  }
  
  .toggle {
    cursor: pointer;
    width: 56px;
    height: 30px;
    padding: 0px;
    border-radius: 30px;
    background-color: #00ff06;
    transition: all 0.2s ease 0s;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
  
  .toggle-ball {
    width: 30px; /* Tamanho da bolinha */
    height: 30px; /* Tamanho da bolinha */
    background-color: #000000; /* Cor da bolinha */
    border-radius: 50%; /* Forma arredondada da bolinha */
    position: absolute;
    transition: transform 0.3s; /* Efeito de transição suave ao mover a bolinha */
    border: 2px solid rgb(245, 245, 239);
    box-shadow: rgba(0, 0, 0, 0.41) 0px 1px 6px 1px;
  }
  
  /* Estilize o botão de alternância para o idioma desejado */
  #language-switch:checked + .toggle .toggle-ball {
    transform: translateX(30px); /* Move a bolinha para a direita (ativado) */
  }
  
  /* Estilize o botão de alternância para o idioma alternativo (invertido) */
  #language-switch + .toggle .toggle-ball {
    transform: translateX(0); /* Move a bolinha de volta para a esquerda (desativado) */
  }

/*tela de certificacoes*/
.certificados h2{
    padding: 60px;
}

section.certificados{
    padding: 100px 20%; /*20% eh o espaco de um certificado pro outro lateral*/

}
.flexs {
    display: flex;
    padding-bottom: 10;
}

.names{
    color: black;
    font-weight: 400;
}
.names:hover{
    color: black;
    font-weight: 400;
}

.img-ports {
    
    min-height: 215px;
    width: 175px;
    text-align: center;
    border-radius: 10px;
        padding: 30px; /* aqui ta dando margem do texto de dentro*/
        margin: 10px auto;
        filter: brightness(0.76);
    
            
    }

    section.certificados.flexs {
        justify-content: space-around;
        margin-top: 60px;
    }



/*tela de cursos*/

section.curso {
    padding: 140px 1%;
    box-shadow: 0 0 30px 8px ;/*AQUI tira a cor de separacao*/
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra para a próxima linha */
    justify-content: space-between; /* Espaçamento entre as imagens */
    padding: 60px;
}

.img-ports1 {
    flex: calc(45%); /* Tamanho e margem entre as imagens */
    height: 600px;
    padding: 80px 20%;
    background-size: cover;
    background-position: 120% 60%;
    transition: 7s;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
    filter: brightness(0.76);
}

section.curso .flex {
    align-items: center;
    gap: 60px;
}

.sobre .curso h2 {
    font-size:400px;
    line-height: 20px;
    margin-bottom: 10px;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22212167;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    opacity: 0;
    transition: 2s;
}

.overlay:hover {
    opacity: 1;
}
    

/* scroll do href*/
html, body {
    scroll-behavior: smooth;
}

/*Estilo Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff06;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #20cb23;
    transform: scale(1.02);
}

/* Antes estava assim os titulos sem traducao
    h2.titulo {
    color: white;
    font-size: 28px;
    text-align: center;
}

h2.titulo span {
    color: #00ff06;
    font-size: 28px;
    text-align: center;
}*/

h2[data-traducao="meus"] ,
h2[data-traducao="minhas1"] ,
h2[data-traducao="especialidades1"] ,
h2[data-traducao="minhas2"] ,
h2[data-traducao="certificacoes1"] ,
h2[data-traducao="fale"] ,
h2[data-traducao="meus2"] ,
h2[data-traducao="cursos"] ,
h2[data-traducao="comigo"] ,
h2[data-traducao=projetos] {
    font-size: 28px;
    color: white;
    text-align: center;
    line-height: 30px;
}

h2[data-traducao="meus"] .meus span,
h2[data-traducao="minhas1"] .minhas1 span,
h2[data-traducao="especialidades1"] .especialidades1 span ,
h2[data-traducao="minhas2"] .minhas2 span,
h2[data-traducao="certificacoes"] .certificacoes span,
h2[data-traducao="fale"] .fale span,
h2[data-traducao="comigo"] .comigo span,
h2[data-traducao="meus2"] .meus2 span,
h2[data-traducao="cursos"] .cursos span,
h2[data-traducao="projetos"] .projetos span {
    font-size: 28px;
    color: #00ff06;
    text-align: center;
    line-height: 30px;
}


/* Estilo do cabecalho*/

header {
    padding: 45px 4%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(79, 79, 79);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Estilo do topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 84px;
}

.topo-do-site h1 {
    color: white;
    font-size: 32px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff06;
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 25px;
    }
}

/*Estilo Especialidades*/
section.especialidades {
    padding: 80px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.504);
}

.especialidades .especialidades-box i {
    font-size: 50px;
    color: #00ff06;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/*Estilo do sobre*/

section.sobre {
    padding: 80px 4%;
}

.sobre .txt-sobre {
    color: white;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 35px;
}

.sobre .txt-sobre h2 span {
    color: #00ff06;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff06;
    font-size: 23px;
    cursor: pointer;
    margin: 0 7px;
    transition: .2s;
}

/*Estilo do projetos*/

section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 30px 8px #ffffff03;/*AQUI tira a cor de separacao*/
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

section.projetos .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22212167;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    opacity: 0;
    transition: 2s;
}

.overlay:hover {
    opacity: 1;
}

/*Estilo do formulario de contato*/

    form.formulario{
        position: auto;
    }

    .formulario-hidden {
        opacity: 0;
        pointer-events: none; /* Evite interações com formulários ocultos */
    }
    
    section.formulario {
        padding: 0px 4%;
    }

    form.formulario {
        position: absolute;
        left: 49.8%;
        transform: translateX(-50%);
        background: black;
        max-width: 500px;
        margin: 40px auto; /* Adicione margem superior e inferior para criar espaço entre os formulários */
        padding: 10px; /* Adicione preenchimento para criar espaço entre os elementos do formulário */
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
      }
      


    form input,
    form textarea {
        width: 100%;
        background-color: rgba(160, 147, 147, 0.225);
        border: 0;
        outline: 0;
        padding: 20px 15px;
        border-radius: 15px;
        color: white;
        font-size: 16px;
    }

    .btn-enviar{
        position: auto;
    }

    form textarea {
        resize: none;
        max-width: 500px;
    }

    form .btn-enviar {
        margin-top: 15px;
        text-align: center;
    }

    form .btn-enviar input[type=submit] {
        width: 120px;
        background-color: #00ff06;
        color: black;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s;
    }

/*Estilo rodape */

footer {
    margin-top: 500px;
    padding: 30px 3%;
    box-shadow: 0 0 30px 8px #ffffff03;
}

footer .flex {
    justify-content: space-between;

}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00ff06;
}

footer .line-footer p i {
    color: #00ff06;
    font-size: 18px;
    padding-right: 5px;
}


footer .line-footer p a {
    color: white;
}


.teste{
    display: none;
}


@media screen and (max-width: 1100px) {

    /*classes gerais*/
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo, h2.titulo span {
        font-size: 28px;
        line-height: 30px ;
    }

    /*cabecalho*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }


    /*Topo do site*/

    section.topo-do-site .flex {
        gap: 45px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 22px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /*Especialidades*/
    section.especialidades {
        padding: 80px 8%;
    }

 /* Sobre*/
 section.sobre {
    padding: 80px 8%;
}

.sobre .txt-sobre h2 {
    font-size: 33px;
    line-height: 35px;
    text-align: center;
}
.btn-social{
    text-align: center;
}

.img-sobre img{
 width: 100%;
 margin: 0 auto;
}

/*Estilo do projetos*/

section.projetos {
    padding: 70px 8%;
}

.img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

section.projetos .flex {
    gap: 25px;
}

/*rodape*/

footer .flex{
    gap: 20px;
}
footer .line-footer{
    text-align: center;
}

/* Estilo menu mobile */
.btn-abrir-menu i{
    color: #00ff06;
    font-size: 40px;
}

.menu-mobile{
background-color: black;
height: 100vh;
position: fixed;
top: 0;
right: 0;
z-index: 999999;
width: 0%;
overflow: hidden;
transition: .4s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #00ff06;
    font-size: 28px;

}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 5%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #00ff06;
    color: #000;
}

.overlay-menu{
    background-color: rgba(79, 79, 79, 0.514);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.teste{
    display: block;
}
.certificados h2 {
    padding: 40px;
}

.flexs {
    flex-direction: column; /* Alterar a direção do flex container para coluna */
    align-items: center; /* Centralizar os itens no eixo transversal (vertical) */
}

.img-ports {
    min-height: 215px; /* Reduzir a altura mínima */
    width: 175px; /* Reduzir a largura */
    padding: 10px; /* Reduzir o preenchimento */
    margin: 10px auto;
}

section.certificados.flexs {
    justify-content: center; /* Centralizar os itens horizontalmente */
    margin-top: 30px; /* Reduzir a margem superior */
}


section.certificados{
    padding: 40px;
}
.certificados h2{
    padding: 40px;
}

.scroll-to-top i {
    position: absolute;
}

.toggle-language {
    position: absolute;
}

.img-ports1 {
    height: auto; /* Ajustar a altura automaticamente */
    justify-content: center; /* Centralizar os itens horizontalmente */
    margin-top: 4px; /* Reduzir a margem superior */
    padding: 100px 22%;
}

.toggle {
    width: 49px;
    height: 23px;
    padding: 0px;
    border-radius: 30px;
    background-color: #00ff06;
    transition: all 0.2s ease 0s;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
  
  .toggle-ball {
    width: 23px; /* Tamanho da bolinha */
    height: 23px; /* Tamanho da bolinha */
    background-color: #000000; /* Cor da bolinha */
    border-radius: 50%; /* Forma arredondada da bolinha */
    position: absolute;
    transition: transform 0.3s; /* Efeito de transição suave ao mover a bolinha */
    border: 2px solid rgb(245, 245, 239);
    box-shadow: rgba(0, 0, 0, 0.41) 0px 1px 6px 1px;
  }

  .toggle-language {
    position: absolute;
    top: 0;
    right: 0;
    margin: 14px; /* Remova margens */
    margin-top: 23px;
    margin-right: 12px;
  }
  

.toggle-language .lingua{
    color: #ffffff;
    margin: -1px;
    text-align: center;
   
}

/*botão de rolagem */
.scroll-to-top {
    right: 15px;
}

.logo{
    margin-top: -35px;
    margin-left: -10px;
}

section.formulario {
    padding: 0px 4%;
}

#newbutton {
    display: none; /* Ocultar o botão em dispositivos responsivos com largura máxima de 768px */
}
}